<form>
  <select [(ngModel)]="selectedNumber" name="number">
    <option value="" disabled>Choose number of disks</option>
    <option *ngFor="let number of numbers" [ngValue]="number">
      {{ number }}
    </option>
  </select>
</form>
<br>

<button type="button" (click)="createStack()">Create stack</button>


<div *ngIf="selectedNumber">
  <div class="container-big">
    <button type="button" (click)="solveHanoi(pegA.length, 0, 1)">Solve Hanoi</button>
    <button type="button" (click)="moveTopDisk()">Move top disk</button>

    <div id="peg-a" class="container-small" [@fadeOutIn]="pegA.length">
      <div *ngFor="let diskA of pegA" [id]="'disk-' + diskA.id" [className]="'item disk-' + diskA.id">
        {{ pegA.length }}
      </div>
    </div>

    <div id="peg-b" class="container-small" [@fadeOutIn]="pegB.length">
      <div *ngFor="let diskB of pegB" [id]="'disk-' + diskB.id" [className]="'item disk-' + diskB.id">
        {{ pegB.length }}
      </div>
    </div>

    <div id="peg-c" class="container-small" [@fadeOutIn]="pegC.length">
      <div *ngFor="let diskC of pegC" [id]="'disk-' + diskC.id" [className]="'item disk-' + diskC.id">
        {{ pegC.length }}
      </div>
    </div>      

  </div>  
</div>
