<form>
  <select [(ngModel)]="selectedNumber" name="number">
    <option value="" disabled>Choose number of disks</option>
    <option *ngFor="let number of numbers" [ngValue]="number">
      {{ number }}
    </option>
  </select>
</form>
<br>

<button type="button" (click)="createStack()">Create stack</button>


<div *ngIf="selectedNumber">
  <div class="container-big">
    <button type="button" (click)="solveHanoi(pegA.length, 0, 1)">Solve Hanoi</button>
    <button type="button" (click)="moveTopDisk(pegA.length)">Move top disk</button>

    <div id="peg-a" class="container-small" [@fadeOutIn]="pegA.length">
      <div *ngFor="let disk of pegA" [id]="'disk-' + disk" [className]="'item disk-' + disk">
        {{ pegA.length }}
      </div>
    </div>

    <div id="peg-b" class="container-small" [@fadeOutIn]="pegB.length">
      <div *ngFor="let disk of pegB" [id]="'disk-' + disk" [className]="'item disk-' + disk">
        {{ pegB.length }}
      </div>
    </div>

    <div id="peg-c" class="container-small" [@fadeOutIn]="pegC.length">
      <div *ngFor="let disk of pegC" [id]="'disk-' + disk" [className]="'item disk-' + disk">
        {{ pegC.length }}
      </div>
    </div>      

  </div>  
</div>
